@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@400;600;700&display=swap");

:root {
    --menu-background: #dadada;
    --appointment-background: #fff;
    --banner-backgroundr: #FAFAFA;
    --bio-backgroundr: #b6d37f;
    --edu-background: #FFFFFF;
    --experience-backgroundr: #F0F6E5;
    --achievement-backgroundr: #b6d37f;
    --chamber-details-backgroundr: #F0F6E5;



    /* top-navbar-section */
    --top-nav-font-family: "Poppins Regular", sans-serif;
    --top-nav-font-color: #575756;
    --top-nav-font-size: 13px;
    --top-nav-background-color: #ededed;

    /* appointment-section */
    --brand-font-size: 26px;
    --brand-text-color: #629623;
    --brand-icon-color: #629623;
    --mobile-icon-color: #616160;
    --brand-font-family: "poppins-semibold", sans-serif;
    --brand-Logo-width: 48px;
    --mobile-icon-width: 32px;
    --mobile-text-font-size: 14px;
    --mobile-text-font-family: "poppins-bold", sans-serif;
    --mobile-number-font-size: 22px;

    /* banner-section */
    --prof-title-font-family: "Poppins Regular", sans-serif;
    --prof-title-color: #646363;
    --doctor-name-font-family: "Montserrat Bold", sans-serif;
    --doctor-name-color: #629623;

    /* biography-section */
    --biography-description-font-family: 'Poppins  Regular', sans-serif;
    --biography-description-font-color: #646363;
    --biography-title-font-familiy: 'Poppins Medium    ', sans-serif;
    --biography-title-font-color: #646363;

    /* experience-section */
    --exp-description-font-color: #646363;
    --exp-description-font-family: 'Poppins  Regular', sans-serif;
    --exp-title-color: #646363;
    --exp-title-font-family: 'Poppins Medium', sans-serif;
    --exp-img-border-color: #629623;

    /* achievement section */
    --achieve-title-font-familiy: 'Poppins Medium    ', sans-serif;
    --achieve-title-font-color: #646363;
    --achieve-description-font-color: #646363;
    --achieve-description-font-familly: 'Poppins  Regular', sans-serif;

    /* chamber-section */

    --chamber-hospital-name-font-color: #646363;
    --chamber-hospital-name-font-family: 'Poppins Medium', sans-serif;
    --chamber-hospital-add-font-family: 'Montserrat Bold', sans-serif;
    --chamber-hospital-add-font-color: #646363;
    --chamber-time-font-family: 'Montserrat SemiBold', sans-serif;
    --chamber-time-font-color: #646363;
    --chamber-title-font-color: #646363;
    --chamber-title-font-family: 'Poppins Medium', sans-serif;


}



/* Global setup */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: var(--paragraph-font-family);
    font-size: var(--body-font-size);
}



/*TOP NAVBAR-SECTION*/
.navbar-item {
    font-size: var(--top-nav-font-size);
    font-family: var(--top-nav-font-family);

}

.top-nav {
    background-color: var(--top-nav-background-color);
}

/* APPOINTMET-SECTION */

.appointment-navbar {
    margin-top: 57px;
    background-color: var(--appointment-background);
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_background {
    background-color: var(--brand-icon-color);
}

.Appointment-Logo {
    width: var(--brand-Logo-width);
}

.navbar-brand h1 {
    color: var(--brand-text-color);
    font-size: var(--brand-font-size);
    font-family: var(--brand-font-family);
}

.appointment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-icon {
    width: var(--mobile-icon-width);
    margin-bottom: 10px;
    margin-left: 10px;
    color: var(--mobile-icon-color);
}

.mobile-text-container {
    line-height: 30px;

}

.mobile-text {
    font-size: var(--mobile-text-font-size);
    font-family: var(--mobile-text-font-family);
    font-weight: 600;
}

.mobile-num {
    font-size: var(--mobile-number-font-size);
    font-family: var(--mobile-text-font-family);
    font-weight: 700;
}


/* HEADER-BANNER-SETION */

.header-banner-container {
    background-image: url(./images/tem-2-banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-img-container img {
    height: 520px;
}

.doctor-name {
    font-family: var(--doctor-name-font-family);
    color: var(--doctor-name-color);
}

.prof-title {
    text-align: justify;
    font-family: var(--prof-title-font-family);
    color: var(--prof-title-color);
}

.banner-icon a {
    text-decoration: none;
}

.fa-facebook-f {
    color: #3b5998;
}

.fa-instagram {
    color: rgb(209, 41, 41);

}

.fa-whatsapp {
    color: #25D366;
}

.fa-linkedin {
    color: #0e76a8;
}


/* BIOGRAPHI-SECTION */

.biography-container {
    background-color: var(--bio-backgroundr);
}

.biography-text-container {
    width: 75%;
    margin: auto;
}


.biography-description {
    font-family: var(--biography-description-font-family);
    color: var(--biography-description-font-color);
    text-align: justify;
}

.biography-title {
    color: var(--biography-title-font-color);
    font-family: var(--biography-title-font-familiy);
}

/* EXPERIENCE-SECTION */

.experience-container {
    background-color: var(--experience-backgroundr);
}

.exp-img-container img {
    height: 420px;
    border: 3.5px solid var(--exp-img-border-color);
}

.exp-title {
    color: var(--exp-title-color);
    font-family: var(--exp-title-font-family);
}

.exp-text-box h6 {
    color: var(--exp-description-font-color);
    font-family: var(--exp-description-font-family);
}

.exp-text-box small {
    color: var(--exp-description-font-color);
    font-family: var(--exp-description-font-family);
}


/* ACHIEVEMENT-SECTION */

.achievement-container {
    background-color: var(--achievement-backgroundr);
}


.achievement-img-container img {
    height: 460px;
}


.achievement-description {
    font-family: var(--achieve-description-font-familly);
    color: var(--achieve-description-font-color);
    text-align: justify;
}

.achievement-title {
    color: var(--achieve-title-font-color);
    font-family: var(--achieve-title-font-familiy);
}

/* CHAMBER-DETAILS */

.chamber-container {
    background-color: var(--chamber-details-backgroundr);
}

.chamber-img-container img {
    height: 460px;
}

.chamber-title {
    color: var(--chamber-title-font-color);
    font-family: var(--chamber-title-font-family);
}

.hospital-address {
    font-size: var(--chamber-hospital-add-font-size);
    font-family: var(--chamber-hospital-add-font-family);
    color: var(--chamber-hospital-add-font-color);
}

.hospital-name {
    font-family: var(--chamber-hospital-name-font-family);
    color: var(--chamber-hospital-name-font-color);
}

.time {
    font-family: var(--chamber-time-font-family);
    color: var(--chamber-time-font-color);
}

@media only screen and (max-width: 768px) {


    /* APPOINTMET-SECTION  MEDIA QUERY*/
    .appointment-navbar {
        margin-top: 57px;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Appointment-Logo {
        width: 40px;
    }

    .navbar-brand h1 {
        font-size: 16px;
        font-family: var(--brand-font-family);
        color: var(--brand-text-color);
    }

    .appointment-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-icon {
        width: 20px;
        margin: auto 0;
        color: var(--mobile-icon-color);
    }

    .mobile-text-container {
        line-height: 16px;
    }

    .mobile-text {
        font-size: 9px;
        font-family: var(--mobile-text-font-family);
    }

    .mobile-num {
        font-size: 14px;
        font-family: var(--mobile-text-font-family);
    }


    /* HEADER-BANNER-SECTION */
    .header-banner-container {
        height: 100%;
    }

    .banner-img-container img {
        height: 320px;
    }

    .banner-text-container {
        width: 90%;
        margin: 0 auto;
    }

    /* BIOGRAPHY-SECTON */
    .biography-text-container {
        width: 92%;
        margin: auto;
    }

    /* EXPERIENCE-SECTION */
    .exp-img-container img {
        height: 240px;
        border: 3px solid var(--exp-img-border-color);
    }

    /* CHAMBER-SECTION */
    .chamber-img-container img {
        height: 320px;
    }

}

/* TAP RESPONSIVE */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .exp-img-container img {
        height: 280px;
    }

}